<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="10003" id="uz.unb.biawallet" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BiaWallet</name>
    <description>
        BiaAllice member wallet
    </description>
    <author email="edjerom@gmail.com" href="http://cordova.io">
        BIA Alliance
    </author>
    <content src="index.html" />
   
    <allow-navigation href="*"/>
    <access origin="*" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <icon src="www/img/logo.png" />

    <platform name="android">
        <allow-intent href="market:*" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
</widget>
